.add-item-input {
  width: 80%;
  margin: 0 auto;
}

.add-item-input > input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da; /* Light border */
  background-color: #ffffff; /* White background */
  transition: box-shadow 0.3s, border-color 0.3s; /* Smooth transition */
}

.add-item-input > input:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Blue shadow on focus */
  border-color: #80bdff; /* Blue border on focus */
}
